:root {
    --color_0: #11316B;
    --color_1: #6B2749;
    --color_2: #6B4F11;
    --color_3: #166B17;

    --font_color_0: white;
    --font_color_1: black;
}

.tab {
    margin-left: 0;
    font-size: large;
    padding: 1em;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius: 1em 1em 0 0;
}

@media screen and (max-width: 406px) {
    .tab {
        width: 100%;
    }
}

.tab-active {
    fill-opacity: 100%;
}

.tab-inactive {
    border: 1px solid black;
    text-decoration: underline;
    cursor: pointer;
    fill-opacity: 5%;
}

.tab-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.page {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page-inactive {
    display: none;
}

.page-active {
    border: 1px solid black;
}

#tab_0 {
    background-color: var(--color_0);
    color: var(--font_color_0);
}

#tab_1 {
    background-color: var(--color_1);
    color: var(--font_color_0);
}

#tab_2 {
    background-color: var(--color_2);
    color: var(--font_color_0);
}

#tab_3 {
    background-color: var(--color_3);
    color: var(--font_color_0);
}

#page_0 {
    background-color: var(--color_0);
    ;
    color: var(--font_color_0);
}

#page_1 {
    background-color: var(--color_1);
    color: var(--font_color_0);
}

#page_2 {
    background-color: var(--color_2);
    color: var(--font_color_0);
}

#page_3 {
    background-color: var(--color_3);
    ;
    color: var(--font_color_0);
}